@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-varient: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}


.dark-theme-variables{
  --clr-color-background: #181a1e;
  --clr-white:#202528;
  --clr-light: rgba(0,0,0,0.4);
  --clr-dark:#edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  background: var(--clr-color-background);
}

.container {
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 14rem;
  margin: 0 auto;
}

a {
  color: var(--clr-dark);
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.logo {
  color: #018e3c;
}

.pp img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--clr-info-dark);
}
p {
  color: var(--clr-dark-varient);
}
b {
  color: var(--clr-dark);
}
.primary {
  color: var(--clr-primary);
}
.success {
  color: var(--clr-success);
}
.danger {
  color: var(--clr-danger);
}
.warning {
  color: var(--clr-warning);
}

/* aside */

aside {
  height: 100vh;
}

aside .top {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 1rem;
}

aside .top div.sld {
  display: none;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!! */

aside .sidebar {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  top: 1rem;
}

aside h3 {
  font-weight: 400;
}

aside .sidebar a {
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.2rem;
  transition: all 0.1s ease-in;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.1s ease-in;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--clr-light);
  color: var(--clr-primary);
  margin-left: 0;
  /* margin-left: 5px solid (--clr-primary); */
}

aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--clr-primary);
}

aside .sidebar a:hover {
  color: var(--clr-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
  transition: 0.4s ease;
}

aside .sidebar a span.msg_count {
  background: var(--clr-danger);
  color: var(--clr-white);
  padding: 2px 5px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* !!!!!!!!!!!!!!!main!!!!!!!!!!!!!!!!!!!!! */

main {
  margin-top: 1.4rem;
  width: auto;
}

main input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--clr-dark);
}

main .date {
  display: inline-block;
  background-color: var(--clr-white);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .insights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background-color: coral;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--clr-white);
  font-size: 2rem;
}

main .insights > div.rides span {
  background-color: var(--clr-danger);
}

main .insights > div.wallet span {
  background-color: var(--clr-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights > div .middle h1 {
  font-size: 1.6rem;
}

main h1 {
  color: var(--clr-dark);
}

main .insights h1 {
  color: var(--clr-dark);
}

main .insights h3 {
  color: var(--clr-dark);
}

main .insights p {
  color: var(--clr-dark);
}

main .insights .progress {
  position: relative;
  height: 68px;
  width: 68px;
  border-radius: 50px;
}

main .insights svg {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
}

main .insights svg circle {
  fill: none;
  stroke: var(--clr-danger);
  transform: rotate(270, 80, 80);
  stroke-width: 5;
}

main .insights .rides svg circle {
  stroke-dashoffset: 10;
  stroke-dasharray: 160;
}

main .insights .wallet svg circle {
  stroke-dashoffset: 10;
  stroke-dasharray: 125;
}

main .insights .wallet svg circle {
  stroke: var(--clr-success);
}

main .insights .progress .number {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .recent {
  margin-top: 2rem;
}

main .recent h2 {
  color: var(--clr-dark);
}

main .recent table {
  background-color: var(--clr-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  color: var(--clr-dark);
}

main table tbody td {
  height: 3.8rem;
  border-bottom: 1px solid var(--clr-dark);
}

main table tbody tr:last-child td {
  border: none;
}

main .recent a {
  text-align: center;
  display: block;
  margin: 1rem;
}




/* !!!!!!!!!!!!!!!!!!!!!right  */


.dark-theme-variables .number {
  color: white !important;
}



.right {
  margin-top: 1.4rem;
}

.right h2 {
  color: var(--clr-dark);
}

.right .top {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background-color: var(--clr-primary);
  color: #fff;
}

.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: center;
}

.right .info h3 {
  color: var(--clr-dark);
}

.right .item h3 {
  color: var(--clr-dark);
}

/* recent ups */

.right .recent {
  margin-top: 1rem;
  margin-left: -20px;
}

.right .recent .ups {
  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.right .recent .ups:hover {
  box-shadow: none;
}

.right .recent .updates {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

#cbtn {
  display: none;
}


/* media  */




@media screen and (max-width:1200px){
  .container{
    width: 94%;
    grid-template-columns: 7rem auto 14rem;
  }

  aside .sidebar h3{
    display: none;
  }

  aside .sidebar .a:last-child{
    position: relative;
    margin-top: 1.8rem;
  }
  main .insights{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}


/* media for phones */

/* Mobile sidebar */
@media screen and (max-width:768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;

  }

  #cbtn {
    display: block;
  }

  aside {
    position: fixed;
    top: 0;
    left: -100%; /* hidden off-screen */
    width: 18rem;
    height: 100%;
    background: var(--clr-white);
    z-index: 5;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  aside.open {
    left: 0; /* slides in */
  }



  aside .top .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--clr-white);
    width: 100%;
    z-index: 4;
    box-shadow: var(--box-shadow);
  }

  #menu_bar {
    display: inline-block;
    font-size: 1.8rem;
    flex-shrink: 0;
  }

  
  .right .theme-toggler {
    margin: 0 auto;
    flex-shrink: 0;
  }

  .right .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    position: relative;
  }

  .right .top button#menu_bar {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--clr-dark);
    font-size: 1.8rem;
  }

  main {
    margin-top: 5rem;
    padding: 0 1rem;
  }

  main .insights {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  main .recent,
  .right .recent {
    padding: 1.5rem;
  }
}